<section id="register-course-view">
    <Menu></Menu>
    <div class="container-register">
        
        <form @submit.prevent="sendData" class="search">
            <img src="res/images/neko.png" alt="">

            <h1> Utiliza tus datos ingresados en el preregistro</h1>
            <div class="field">
                <label for="">Nº Identificación</label>
                <input type="text" v-model="data.USER_identification" placeholder="" required>
            </div>
            <div class="field">
                <label for="">Correo electrónico</label>
                <input type="text" v-model="data.USER_email" placeholder=""
                required>
            </div>
            <template v-if="data.USER_valid">
                <h1>Selecciona uno de los siguientes cursos</h1>
                <div class="field">
                    <label for="">Curso</label>
                    <select v-model="data.USER_course" required>
                        <option v-for="c in courses" :value="c.COUR_PK">{{c.COUR_description}}</option>
                    </select>
                </div>
            </template>
            <footer>
                <button>
                    {{ data.USER_valid ? "Inscribirme": "Buscar" }}
                </button>
            </footer>
        </form>



    </div>
    <Loader v-if="showLoader"/>
</section>