#home-view {
    @extra-screen: 80px;

    .home-banner {
        background-image: url('../../res/images/home-back.png');
        background-size: cover;
        background-position: 0%;
        height: calc(100vh + @extra-screen);
        width: 100vw;
        margin-bottom: -@extra-screen;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100vh + @extra-screen);
            mix-blend-mode: multiply;
        }

        &::before {
            background: rgba(0, 0, 0, 0.3);
        }

        &::after {
            background-color: #C92121;
        }

    }

    .about {
        position: relative;

        .title {
            height: @extra-screen;
            font-weight: bold;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;
            margin: 70px 200px;

            article {
                margin-top: 20px;
                font-size: 16px;
                line-height: 27px;
                color: #727475;

                span {
                    margin: auto;
                    text-align: center;
                    display: block;

                    &::before {
                        height: 100px;
                        width: 100px;
                    }
                }

                h1 {
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 25px;
                    color: #727475;
                    margin: 40px 0 20px;
                }
            }
        }
    }

    .twitch {
        min-height: 700px;
        background-image: url('../../res/images/fondo_twitch.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .youtube {
        min-height: 650px;
        background: #FF0000;
        text-align: center;

        iframe {
            margin: 60px auto 45px;
            width: 926px;
            height: 549px;
        }
    }

    .contact {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 100px;
        padding: 50px 300px;


        h3 {
            font-family: Cousine;
            font-style: normal;
            font-weight: bold;
            font-size: 23px;
            line-height: 26px;
            text-transform: uppercase;

            color: #000;
        }

        img {
            margin: 10px auto 20px;
            height: 200px;
        }

        .form {
            width: 500px;

            form {
                display: inline-grid;
                width: inherit;

                label {
                    font-family: Cousine;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 18px;

                    color: #000000;
                    margin: 10px 0;
                }

                input,
                textarea {
                    width: 100%;
                    background: #FFF;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    }

    footer {
        background: #CFD8DC;
        padding: 10px 0 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;


        color: #000000;
    }
}